@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

@layer components {
    .scrollbar {
        @apply [&::-webkit-scrollbar-thumb:hover]:bg-gray-400
        [&::-webkit-scrollbar-thumb:hover]:dark:bg-gray-800
        [&::-webkit-scrollbar-thumb]:rounded-lg
        [&::-webkit-scrollbar-thumb]:bg-gray-300
        [&::-webkit-scrollbar-thumb]:dark:bg-gray-700
        [&::-webkit-scrollbar]:h-2
        [&::-webkit-scrollbar]:w-2;
    }
}

@-moz-document url-prefix() {
    .scrollbar {
        scrollbar-width: thin;
    }
}
