@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

@layer components {
    .scrollbar {
        @apply [&::-webkit-scrollbar-thumb:hover]:bg-gray-400
        [&::-webkit-scrollbar-thumb:hover]:dark:bg-gray-800
        [&::-webkit-scrollbar-thumb]:rounded-lg
        [&::-webkit-scrollbar-thumb]:bg-gray-300
        [&::-webkit-scrollbar-thumb]:dark:bg-gray-700
        [&::-webkit-scrollbar]:h-2
        [&::-webkit-scrollbar]:w-2;
    }
}

@layer utilities {
    /* Is used for making text bold without changing its width. */
    .font-bold-shadow {
        text-shadow:
            -0.06ex 0 0 currentColor,
            0.06ex 0 0 currentColor;
    }

    /* Is used for making text bold without changing its width. */
    @supports (-webkit-text-stroke-width: 0.04ex) {
        /* 2017+, mobile 2022+ */
        .font-bold-shadow {
            text-shadow:
                -0.03ex 0 0 currentColor,
                0.03ex 0 0 currentColor;
            -webkit-text-stroke-width: 0.04ex;
        }
    }
}

@-moz-document url-prefix() {
    .scrollbar {
        scrollbar-width: thin;
    }
}
